[Desktop Entry]
Version=1.0
Type=Application
Name=AMCL Launch
Comment=Launch Navigation, Delivery Controller, and UI
Exec=/home/smr/workspaces/mini_amr/Shortcut/run_amcl_launch.sh
Icon=/home/smr/Pictures/Logo/amcl_nav.png
Terminal=true
StartupNotify=false
Categories=Application;System;
